body {
    background: rgb(255, 242, 227) !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10vh;
}

@media (min-width: 992px) {
    .navbar li {
        margin-left: 5em;
        margin-right: 5em;
    }
}

.content {
    margin-top: 10%;
}

h2 {
    padding: 40px;
    margin-top: 20%;
    color: rgb(75, 72, 67);
}

.profile {
    position: relative;
    max-height: 350px;
    border-radius: 100px;
    margin-top: -42%;
    margin-left: -15%;
}

@import url('https://fonts.googleapis.com/css?family=Hind');

:root {
    --radius-1: 70%;
    --radius-2: 30%;
    --radius-3: 30%;
    --radius-4: 70%;
    --radius-5: 60%;
    --radius-6: 40%;
    --radius-7: 60%;
    --radius-8: 40%;
}

body {
    background: #e8e8e8;
    font: normal 18px/1 "Hind", sans-serif;
}

.blob {
    width: 360px;
    height: 360px;
    border-radius: var(--radius-1) var(--radius-2) var(--radius-3) var(--radius-4) / var(--radius-5) var(--radius-6) var(--radius-7) var(--radius-8);
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #ff681c 0%, #755250 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    position: relative;
    top: 12px;
    left: 10px;
    z-index: -99;
}

.about{
  margin-top: 20%;
}
.p-about{
  margin: 0 20%;
}
.h-about{
  margin-top: 5%;
}

#contact-me-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 8vw;
    height: 7vh;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    background: rgb(255, 242, 227);
  }
  
  li:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  li:hover::before, li:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 8vw;
    height: 7vh;
    background: #755250;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  li:hover:after {
    background:  #ff681c;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }

.social{
    margin: 20% 0%;
}

input, textarea{ 
 border: none;
 display: block;
 background: transparent;
 height: 40px;
 background: transparent;
 color: rgba(0, 0, 0, 0.8) !important;
 font-size: 14px;
 border-radius: 0px;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 text-align: center;
}

textarea:focus, input:focus {
  outline: none;
  border-bottom: 1px solid #774329;
}

textarea {
  height: 30%;
  resize: none;
}
.mail-img{
  min-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 0 20px 20px 0;

}
.social-header{
  margin-bottom: 7%;
}

.contact{
width: 78vw;
}
.contact-me{
  background: white;
  margin: 5px;
  border-radius:20px;
}
.button{
  background:#765353;
  color: white !important;
  border-radius: 15px;
  height: 3em;
  width: 40%;
  text-align: center;
}

#contact-me-form {
  text-align: center;
}
@media screen and (max-width: 768px) {
    .blob {
        width: 120px;
        height: 120px;
    }

    .profile {
        max-height: 120px;
    }

    text-area {
      height: 20px;
    }

    button {
      height: 20px;
    }

    .mail-img {
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      object-fit: cover;
      height: 30vh;
    }
    .contact-me-form {
      width: 50vh !important;
    }

    .contact-me {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    #contact-form-container {
      height: 50vh;
    }
    .contact{
      width: 95vw;
      }
}
